<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="D:\bootstrap\bootstrap-3.1.1-dist\css\bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <script src="D:\Jquery\jquery.min.js"></script>
  <script src="D:\bootstrap\bootstrap-3.1.1-dist\js\bootstrap.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>

</head>
<body>

<!-- Navbar --><!--header-->

	<nav class="navbar navbar-default"  style="background-color: #00CED1;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
		<a class="navbar-brand" href="#"><i class="fa fa-linkedin fa-5x pull-left" style="font-size:80px;color:lightblue;text-shadow:2px 2px 4px #000000;"></i> </a>
		<b class="heading" style="font-size:40px;color:lightblue;text-shadow:2px 2px 4px #000000;" >
		INTERNAL</b>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="Land.html" class=""><b>Home</b></a></li>
        <li><a href="#"><b>New</b></a></li>
        <li><a href="#"><b>About Us</b></a></li>
		 <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#"><b>Catalogue</b><b class="caret"></b></a>
                <ul role="menu" class="dropdown-menu">
                    <li><a href="#"><b>Chairs</b></a></li>
                    <li><a href="#"><b>Sofa</b></a></li>
                    <li><a href="#"><b>beds</b></a></li>
					 <li><a href="#"><b>Racks</b></a></li>
                    <li class="divider"></li>
                    <li><a href="#"><b>New Arrivals</b></li>
                </ul>
				<li><a href="#"><b>Contact</b></a></li>
            </li>
      
	   <form role="search" class="navbar-form navbar-left">
            <div class="form-group">
                <input type="text" placeholder="Search" class="form-control">
            </div>
        </form>
		<i class="fa fa-serch"></i>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="LOG.html" class=""><b>Login</b></a></li>
			<li><a href="REG.html" class=""><b>Registeration</b></a></li>
        </ul>
	</ul>
    </div>
  </div>
</nav>
</nav><!--nav bar close--><!-- closed header-->

<div class="container-fluid bg-3 text-center">
   <div class="row">
		<div class="col-sm-3">
			<h6>Brighton_Zella_6_Seater_Dining_Table_Set</h6>
			<h6>40,399</h6>
			<img src="Brighton_Zella_6_Seater_Dining_Table_Set.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6>Lyon_dining_table_Sepia.jpg</h6>
			<h6>79,199</h6>
			<img src="Lyon_dining_table_Sepia.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6>Wesley_Cabalo_Leatherette_6_Seater_Dining_Table_Set</h6>
			<h6>37,999</h6>
			<img src="Wesley_Cabalo_Leatherette_6_Seater_Dining_Table_Set.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6>Arabia_Capra_Bench_Teak.jpg</h6>
			<h6>36,999</h6>
			<img src="Arabia_Capra_Bench_Teak.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-3">
			<h6>Wesley_Thomson_6_Seat_Dining_Table_Set.jpg</h6>
			<h6>46,999</h6>
			<img src="Wesley_Thomson_6_Seat_Dining_Table_Set.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6>Arabia_XL_Storage_Oribi_6_Seater_Dining_Table_Set.jpg</h6>
			<h6>47,499</h6>
			<img src="Arabia_XL_Storage_Oribi_6_Seater_Dining_Table_Set.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6>Mallawi_Dalla_6_Seater_Glass_Top_Dining_Table_Set.jpg</h6>
			<h6>45,999</h6>
			<img src="Mallawi_Dalla_6_Seater_Glass_Top_Dining_Table_Set.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6>Matheson_Dalla_6_Seater_Round_Glas__Top_Dining_Table_Set.jpg</h6>
			<h6>44,999</h6>
			<img src="Math
			eson_Dalla_6_Seater_Round_Glas__Top_Dining_Table_Set.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<h6>round_6seats.jpg</h6>
			<h6>54,299</h6>
			<img src="round_6seats.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6>Nashville_6_Seater_Round_Dining_Set.jpg</h6>
			<h6>48,999</h6>
			<img src="Nashville_6_Seater_Round_Dining_Set.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6>dining_table.jpg</h6>
			<h6>9,999</h6>
			<img src="dining_table.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h3></h3>
			<h4></h4>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<h6>Arabia_XL_Oribi_6_Seater_Dining_Set.jpg</h6>
			<h6>49,399</h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6>Arco_Dalla_8_Seater_Glass_Top_Dining_Table_Set.jpg</h6>
			<h6>54,199</h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6>Vanalen_Extendable_Persica_8_Seater_Dining_Table_Set.jpg</h6>
			<h6>62,099</h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<h6>Wesley_Thomson_6_Seat_Dining_Table_Set.jpg</h6>
			<h6>46,999</h6>
			<img src="Wesley_Thomson_6_Seat_Dining_Table_Set.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6>Arabia_XL_Storage_Oribi_6_Seater_Dining_Table_Set.jpg</h6>
			<h6>47,499</h6>
			<img src="Arabia_XL_Storage_Oribi_6_Seater_Dining_Table_Set.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6>Mallawi_Dalla_6_Seater_Glass_Top_Dining_Table_Set.jpg</h6>
			<h6>45,999</h6>
			<img src="Mallawi_Dalla_6_Seater_Glass_Top_Dining_Table_Set.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6>Matheson_Dalla_6_Seater_Round_Glas__Top_Dining_Table_Set.jpg</h6>
			<h6>44,999</h6>
			<img src="Matheson_Dalla_6_Seater_Round_Glas__Top_Dining_Table_Set.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6>round_6seats.jpg</h6>
			<h6>54,299</h6>
			<img src="round_6seats.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6>Nashville_6_Seater_Round_Dining_Set.jpg</h6>
			<h6>48,999</h6>
			<img src="Nashville_6_Seater_Round_Dining_Set.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<h6>dining_table.jpg</h6>
			<h6>9,999</h6>
			<img src="dining_table.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<h6>Hawley_Dining_Chair.jpg</h6>
			<h6>3,374</h6>
			<img src="Hawley_Dining_Chair.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6>Winchester_Lounge_Chair.jpg</h6>
			<h6>16,199</h6>
			<img src="Winchester_Lounge_Chair.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6>Organic_Chair_Replica.jpg</h6>
			<h6>9,999</h6>
			<img src="Organic_Chair_Replica.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6>Holly_Chair_Grey.jpg</h6>
			<h6>4,099</h6>
			<img src="Holly_Chair_Grey.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<h6>TENGO_RATTEN.jpg</h6>
			<h6>16,999</h6>
			<img src="TENGO_RATTEN.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6>Pelli_Study_Chair.jpg</h6>
			<h6>6,999</h6>
			<img src="Pelli_Study_Chair.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6>Wilbur_chair_White.jpg</h6>
			<h6>5,499</h6>
			<img src="Wilbur_chair_White.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6>Eames_DSW_Side_Chair_Replica_Black.jpg</h6>
			<h6>6,999</h6>
			<img src="Eames_DSW_Side_Chair_Replica_Black.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<h6>Ursula_Lounge_Chair_Cream.jpg</h6>
			<h6>13,999</h6>
			<img src="Ursula_Lounge_Chair_Cream.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6>Masai_Arm_Chair_Teak_Finish.jpg</h6>
			<h6>4,299</h6>
			<img src="Masai_Arm_Chair_Teak_Finish.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6>Ursula_Lounge_Chair_Blue.jpg</h6>
			<h6>13,999</h6>
			<img src="Ursula_Lounge_Chair_Blue.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6>Calabah_Swivel_Lounge_Green.jpg</h6>
			<h6>9,999</h6>
			<img src="Calabah_Swivel_Lounge_Green.jpg" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
		<div class="col-sm-3">
			<h6></h6>
			<h6></h6>
			<img src="" class="img-responsive margin" style="width:100%" alt="Image">
		</div>
	</div>
</div>
</body>
</html>